<div class="laptop1">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="laptop1_img">
          <figure><img src="./assets/images/leptop.jpg" alt="#"/></figure>
        </div>
      </div>
      <div class="col-md-5">
        <div class="titlepage">
          <h2>Brand: </h2>
          <h2>Model: </h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          <a class="read_more" style="margin-right: 10px" href="">Add to cart</a>
          <a class="read_more" href="#">Cancel</a>

          <a class="read_more" style="margin-right: 10px" href="">Edit</a>
          <a class="read_more" href="#">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

