
<div class="laptop">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="titlepage">
          <p>Every Computer and laptop</p>
          <h2>Up to 40% off !</h2>
          <div style="display: flex">
            <a class="read_more" (click)="buyHandler()">Buy</a>
            <a class="read_more" routerLink="/catalog">Cancel</a>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="laptop_box" *ngIf="hasDevices">
          <table  *ngFor="let device of devices">
            <tr>
              <td>{{device.brand}} {{device.model}}</td>
              <td>{{device.price}}</td>
            </tr>
          </table>
          <p>Total: {{price}} BGN</p>
        </div>
      </div>
    </div>
  </div>
</div>
