table {
  width: 100%;
  height: auto;
  color: white;
  border: 1px solid whitesmoke;
  text-align: center;

}

table td{
  border: 1px solid whitesmoke;
  width: 60%;
}

.laptop {
  padding-top: 300px;
}

.total {
  font-weight: bold;
  color: #34ce57;
}

.buttons {
  gap: 2em;
}

.read_more {
  border-radius: 30px;
}
