<div class="three_box1">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="box_text_test">
          <i><img src="./assets/images/thr.png" alt="#"/></i>
          <h3>Welcome: </h3>
          <p>Your contact info:</p>
          <p>Email: </p>
          <p>Phone number: </p>
          <div class="profile-btn">

            <button class="edit-btn">Edit</button>
            <button class="edit-btn">My offers</button>
            <button class="edit-btn">Create offer</button>

          </div>

      </div>

    </div>
  </div>
</div>
</div>
